.logo {
  padding: 5px;
  font-size: 50px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0em;
  color: var(--dark-pink);
}

.logo_dark {
  color: var(--white);
  font-weight: 500;
}

@media (max-width: 767.98px) {
  .logo,
  .logo_dark {
    font-size: 34px;
  }
}
