.button,
.button.button_accent:hover {
  border: 0;
  border-radius: 30px;
  width: 133px;
  padding: 4px 24px;
  background-color: var(--light-pink);
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  color: var(--grey);
  transition: all ease 0.3s;
}

.button.button_accent,
.button:hover {
  background-color: var(--grey);
  color: var(--light-pink);
}

.darkButton,
.darkButton.button_accent:hover {
  color: var(--red);
  background-color: var(--basic);
  border: 1px solid var(--red);
}

.darkButton:hover,
.darkButton.button_accent {
  color: var(--basic);
  background-color: var(--red);
}
