.indicator {
  width: 133px;
  height: 38px;
  padding: 0px 24px;
  line-height: 38px;
  border-radius: 30px;
  text-align: center;
  background-color: var(--light-pink);
  color: var(--grey);

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  h3 {
    text-decoration: underline;
  }

  h3,
  div {
    color: var(--grey);
  }
}

.indicator_dark {
  color: var(--red);
  background-color: var(--basic);

  h3,
  div {
    color: var(--red);
  }
}
