.btn {
  border: 0;
  font-family: inherit;
  border-radius: 30px;
  width: 131px;
  height: 30px;
  background-color: hsl(0, 32%, 85%);
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  color: #75728d;
  transition: all ease 0.3s;
}

.btn:hover {
  background-color: #75728d;
  color: #e4cbcb;
}